In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df =pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [4]:
pd.to_datetime(df.tpep_pickup_datetime)
pd.to_datetime(df.tpep_dropoff_datetime)

0         2024-01-01 01:17:43
1         2024-01-01 00:09:36
2         2024-01-01 00:35:01
3         2024-01-01 00:44:56
4         2024-01-01 00:52:57
                  ...
2964619   2024-01-31 23:54:36
2964620   2024-01-31 23:27:52
2964621   2024-01-31 23:38:00
2964622   2024-01-31 23:25:14
2964623   2024-02-01 00:13:30
Name: tpep_dropoff_datetime, Length: 2964624, dtype: datetime64[us]

In [5]:
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name= 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [7]:
df_iter =pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [8]:
df_iter.tpep_pickup_datetime = pd.to_datetime(df_iter.tpep_pickup_datetime)
df_iter.tpep_dropoff_datetime = pd.to_datetime(df_iter.tpep_dropoff_datetime)

In [9]:
df_iter.head(n=0).to_sql(
    name='yellow_taxi_data', 
    con=engine, 
    if_exists='replace', 
    schema='taxidata'
)

0

In [ ]:
%time df_iter.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', schema='taxidata', method='multi', chunksize=100000)

In [ ]:
print(df_iter.dtypes)